/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;

  --bg-roodblauw: light-dark(red, #2a2fe8);
  --bg-lichtroze: light-dark(#f5b3ce, #d671f5);
  --bg-wit: white;

  --tekst-wit: white;
  --tekst-blauw: #2a2fe8;

  --color-h1: light-dark(#f5b3ce, #d671f5);
  --color-p: light-dark(red, #2a2fe8);
}

[data-scheme="dark"] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  [data-scheme="light"] {
    display: none;
  }
  [data-scheme="dark"] {
    display: block;
  }
}

header h1 {
  color: var(--color-h1);
  background-color: var(--bg-roodblauw);
}

header p {
  color: var(--color-p);
  background-color: var(--bg-wit);
}

main {
  max-width: 30em;
  margin: auto;
}

body {
  font-family: ui-sans-serif, sans-serif;
  text-align: center;
  background-color: var(--bg-roodblauw);
  color: var(--tekst-wit);
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
summary {
  cursor: pointer;
  font: inherit;
}
